<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Resources.Properties.Settings.MedicaldrugstoreDBConnectionString"
            connectionString="Data Source=svrdata.comine.local,58144;Initial Catalog=MedicaldrugstoreDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>