@model Medicaldrugstore.Models.Bank

@{
    Layout = null;
}

<div>
    <table class="table table-striped details">
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.BankCode)</td>
            <td class="bold col-xs-6">@Html.DisplayFor(model => model.BankCode)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.BankName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.BankName)</td>
        </tr>          
    </table>
</div>


